.container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
   @media screen and (min-with: 480px) {
    width: 480px; 
   }
    
        //  @media  (min-with: 768px) {
        //     width: 768px;
        //  }
}